* {
    font-family: Inter;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    background-color: #f4f3f8;
}

.main {
    max-width: 60%;
    margin: auto;
}

.home {
    height: 98vh;
}

a {
    text-decoration: none;
    color: black;
}

.navbar {
    height: 50px;
    width: 350px;
    background-color: white;
    color: black;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 67px;
    margin: auto;
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 20px;

}

.navlinks {
    display: flex;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

nav h3 {
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}

nav h3:hover {
    cursor: pointer;
}

.navbar h3:hover {
    opacity: 0.8;
}

.hamburger-menu {
    display: none;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 3px 0;
    transition: 0.4s;
}

.bar2 {
    width: 25px;
    height: 3px;
    margin: 3px 0;
    transition: 0.4s;
}

.photo {
    border-radius: 50px;
    margin-top: 140px;
}

.name {
    font-family: "raleway";
    font-size: 62px;
    margin: 10px 0;
}

.text {
    color: #000;
    font-size: 52px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.home-content {
    margin: 20px 0;
    width: 60%;
    line-height: 1.5em;
}

.resume {
    border: 1px solid gray;
    padding: 7px 45px 7px 25px;
    border-radius: 10px;
    position: relative;
}

.download-img {
    position: relative;
    left: -47px;
    top: 7px;
}

@media screen and (max-width: 600px) {
    .navbar {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100vh;
        margin-top: 0px;
        padding-top: 2rem;
        padding-bottom: 0.5rem;
        align-items: normal;
        justify-content: normal;
        z-index: 10;
        transition: 0.3s ease-in-out;
        border-radius: 0px;
    }

    .navlinks {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        width: 50%;
        align-items: normal;
        justify-content: normal;
        margin-left: 3%;
    }

    .home-bg {
        display: none;
    }

    .navbar.active {
        right: 0;
    }

    .home {
        margin-top: 20px;
    }

    .hamburger-menu {
        /* color: #fff; */
        display: block;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        position: absolute;
        right: 20px;
        z-index: 15;
    }

    .signIn-btn {
        width: 250px;
        margin-left: 40px;
    }

    .navbar h3 {
        margin: 20px;
        margin-left: 40px;
    }

    .navbar h3:hover {
        opacity: 0.8;
    }

    .hamburger-menu.active .bar:nth-child(1) {
        transform: rotate(55deg) translate(-5px, 6px);
        position: fixed;
        top: 40px;
        right: 20px;
    }

    .hamburger-menu.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger-menu.active .bar:nth-child(3) {
        transform: rotate(-51deg) translate(-5px, -6px);
        position: fixed;
        right: 20px;
        top: 40px;
    }
}

@media screen and (max-width: 1350px) {
    .main {
        max-width: 70%;
    }

    .home-content {
        width: 80%;
    }
}

@media screen and (max-width: 840px) {
    .main {
        max-width: 80%;
    }

    .home-content {
        width: 90%;
    }
}

@media screen and (max-width: 650px) {
    .main {
        max-width: 90%;
    }

    .name {
        font-size: 2.5rem;
    }

    .text {
        font-size: 2rem;
    }

    .home-content {
        font-size: 1rem;
    }
}